:root {
    --primary-color: #120d20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

#main {
    width: 100%;
    display: flex;
}

#main .nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 5%;
    height: 100vh;
    background-color: #fff;
}

#main #hero {
    width: 95%;
    /* height: 150vh; */
}